<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>
    <div class="wrapper">
        <form id="formAdd" class="pure-form">
            <fieldset>
                <legend>ORDENAMIENTO DE NUMEROS</legend>
                <input id="inputNumber" type="number" placeholder="Ingrese número y enter">
                <button id="buttonAdd" type="submit" class="pure-button pure-button-primary" disabled>Agregar</button>
                <button id="buttonSort" type="button" class="pure-button pure-button-primary">Ordenar</button>
            </fieldset>
        </form>

        <ol id="listItems" class="rounded-list"></ol>
    </div>
</body>
</html>
